:root {
  --white: #fff;
  --black: #111111;
  --text: #333333;
  --text-2: #474747;
  --green: #059B36;
  --background: #f9f9f9;
  --pagination-back: #ececec;
  --pagination-disable: #ccc;
  --header-green: #f5fbf7;
  --text-link: #374957;
  --bottom-border: rgba(55, 73, 87, 0.5);
  --button-hover: #0ace45;
  --button-back: #089d35;
  --blur: rgba(51, 51, 51, 0.4);
  --text-3: #969494;
  --input-back: #f4f4f4;
  --uploader-back: rgba(244, 244, 244, 1);
  --input-placeholder: rgba(55, 73, 87, 0.2);
  --error: #ff0000;
  --size: #667085;
  --file-title: #101828;
}
