@use 'sass:math';

// Подключение миксинов
$fontFamily: 'Inter';
@import 'null';

// Подключить если есть локальные файлы шрифтов
@import 'fonts';

// Подключение иконочных шрифтов =====================================================================================================

// Шрифт по умолчанию ================================================================================================================
$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета

// НАСТРОЙКИ =========================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничиваюшего контейнера (0 = нет ограничения)
$maxWidthContainer: 1340;
// обший отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 0;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк - поинтам (контейнер меняет свою ширину по брейк - поинтам)
$reponsiveType: 1;

// Ширина страбативания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк - поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$laptop: em(1279.98);
$table: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(768.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и обшие параметры =======================================================================================================
@import 'color';

// a,
// button {
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
//   -webkit-tap-highlight-color: transparent;
// }

// Ограничиваюший контейнер ==========================================================================================================
/*
(i) Стили будут применяться ко
всем классам содержащим *__container и т.д.
Снипет (HTML): cnt
*/
.__container {
	max-width: 1340px;
	padding: 0px 20px;
	margin: 0px auto;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.main {
	width: 100%;
	flex: 1;
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
@import 'table';
